.Nav-Menu{
    position: absolute;
    transform: translate(50%, 100%);
    bottom: 0;
    left: 0;
    border: 1px solid gray;
    border-radius : 5px;
    padding: 5px;
    bottom: 0;
    left: 0;
}

.Dropdown{
    position: relative;
    
}

